<nav class="navbar box-shadow app-header" [class.fixed-top]="settings.theme.navbarIsFixed">
    <div class="d-flex flex-column w-100">
        <div class="d-flex justify-content-start align-items-center top-navbar">                  
            
            <a class="logo" >
                <span class="Edu">Edu</span><span class="Pay">Pay</span>
            </a>

           

            <div class="ml-2 mr-2 d-none d-sm-block">
                 <a id="info-content-icon" data-toggle="collapse" href="#info-content"  class="d-flex">
                </a>
            </div>



            <div class="top-rigth-icons ml-auto">                 
                <span class="pl-2 pr-2">
                    <a (click) = "logoutUser()"><i class="fa fa-power-off mr-2"></i>Log out</a>
                </span> 
            </div> 

        </div>

        <div class="horizontal-menu-outer" *ngIf="settings.theme.menu == 'horizontal'">                   
            <app-horizontal-menu *ngIf="showHorizontalMenu"  [menuItems]="menuItems"></app-horizontal-menu>        
            <app-vertical-menu *ngIf="!showHorizontalMenu"  [menuItems]="menuItems"></app-vertical-menu>
        </div>

    </div>
</nav>