<div class="row mb-1">
    <div class="col">
        <div class="input-group mb-3 box-shadow"> 
            <div class="input-group-prepend">
                <span class="input-group-text border-top-0 border-left-0 border-bottom-0"><i class="fa fa-search"></i></span>
            </div>                   
            <input type="text" [(ngModel)]="searchText" placeholder="Search school by name..." class="form-control border-0">
            <div class="input-group-append">
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div *ngFor="let school of allSchools | paginate: { itemsPerPage: 9, currentPage: p }; let i = index;" class="col-xl-4 col-lg-6 mb-4">
        <div class="flip">
            <div class="content">
                <div class="front">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h6 class="mb-0" style="color: #000 !important;" >
                                {{school.fullname}}                            </h6>
                            <div class="widget-controls"> 
                                <a (click)="openMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-bars"></i></a> 
                                <a (click)="deleteSchool(school)" href="javascript:void(0);" class="transition"><i class="fa fa-trash"></i></a> 
                            </div>        
                        </div>
                        <div class="card-body pt-3">
                            
                            <div class="media">
                                <div class="d-flex flex-column justify-content-center">
                                   
                                </div>                    
                                <div class="media-body ml-3">
                                    <div class="row">
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13px;"><b>Email:</b></div>
                                        <div class="col-8 pl-2 text-truncate">{{school.email}}</div>                          
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13;"><b>Phone:</b></div>
                                        <div class="col-8 pl-2 text-truncate">{{school.phoneNumber}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13;"><b>Street:</b></div>
                                        <div class="col-8 pl-2 text-truncate">{{school.addressLine1}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13;"><b>City:</b></div>
                                        <div class="col-8 pl-2 text-truncate">{{school.addressCity}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13;"><b>State:</b></div>
                                        <div class="col-8 pl-2 text-truncate">{{school.addressState}}</div>
                                        <div class="col-4 text-gray text-right pr-0 font-italic text-truncate" style="color: #000 !important; font-size: 13;"><b>Country:</b></div>
                                        <div class="col-8 pl-2 text-truncate fs-12 pt-2p">{{school.addressCountry}}</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="back">
                    <div class="card border-0 box-shadow rounded-0">
                        <div class="card-header border-0 rounded-0 text-muted">
                            <h5 class="mb-0">
                                
                                {{school.fullname}}
                            </h5>
                            <div class="widget-controls"> 
                                <a (click)="closeMenuAssign($event)" href="javascript:void(0);" class="transition"><i class="fa fa-times"></i></a>
                            </div>        
                        </div>
                        <div class="card-body pt-3">            
                            <div class="w-100 text-center pt-3">
                                    <div class="custom-control custom-checkbox" style="width: 193px;">
                                            <input type="checkbox" class="custom-control-input" id="customCheck1">
                                            <label class="custom-control-label" for="customCheck1">School location confirmed</label>
                                            </div>
                                    <div class="custom-control custom-checkbox" style="width: 206px;">
                                            <input type="checkbox" class="custom-control-input" id="customCheck2">
                                            <label class="custom-control-label" for="customCheck1">School Proprietor confirmed</label>
                                    </div>
                                    <div class="custom-control custom-checkbox" style="width: 220px;">
                                            <input type="checkbox" class="custom-control-input" id="customCheck3">
                                            <label class="custom-control-label" for="customCheck1">School subscription confirmed</label>
                                    </div>
                                <button class="btn btn-success" (click)="activateSchool(school)" style="float: right; margin-top: 40px;"> Activate school </button>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" >
    <div class="col-12">
        <div class="bg-white text-center">
            <pagination-controls autoHide="true" (pageChange)="p = $event" maxSize="5"></pagination-controls>
        </div>        
    </div>
</div>
