<div class="container-fluid">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
    
        <!-- Icon -->
        <div class="fadeIn first">
          <img src="assets/img/profile/hat3.jpg" id="icon" alt="User Icon" />
        </div>
    
        <!-- Login Form -->
        <form #loginForm="ngForm" (ngSubmit)="OnSubmit(email.value,password.value)" >
          <input type="text" id="email" class="fadeIn second" placeholder="Email"  #email ngModel name="email" required >
          <input type="password" id="password" class="fadeIn third" placeholder="password"  #password ngModel name="password" required >
          <div style="margin-right: 240px; margin-bottom:  5px; margin-top:  10px;"><input type="checkbox" value="remember-me" ng-model="loginData.remember" id="rememberMe" name="rememberMe">  Remember me</div>
          <input type="submit" class="fadeIn fourth" value="Log In" style="width: 345px;">
        </form>
    
        <!-- Remind Passowrd -->
        <div id="formFooter">
          <a class="underlineHover" href="#">Forgot Password?</a>
        </div>
    
      </div>
    </div>
</div>
